<template>
  <div class="home">
    <FileLoader :files=[] />
  </div>
</template>

<script>
import FileLoader from '@/components/FileLoader.vue';

export default {
  name: 'Home',
  components: {
    FileLoader,
  },
};
</script>
<style lang="sass">
.home
  background-color: #BCCADF
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  padding-top: 3rem
</style>
