<template>
  <div class="file-loader">
    <h2 class="title">Uploading {{ files.length }} files</h2>
    <span class="size">{{ fileSize }}</span>
    <span class="progress-bar" :style="{width: `${progression}%`}"></span>
  </div>
</template>

<script>
export default {
  name: 'FileLoader',
  props: {
    files: {
      type: Array,
    },
    progression: {
      type: Number,
    },
  },
  computed: {
    fileSize() {
      const totalSize = this.files.reduce((acc, { size }) => acc + size, 0);
      if (totalSize < 1000) return `${totalSize / 10 ** 3} KB`;
      if (totalSize > 9999999) return `${totalSize / 10 ** 9} GB`;
      return `${totalSize / 10 ** 6} MB`;
    },
  },
};
</script>

<style lang="sass">
.file-loader
  background-color: #fff
  height: 8rem
  width: 18rem
  border-radius: 8px

  .title
    margin: 1rem 2rem .5rem 2rem

  .size
    display: block
    color: #A4A7AE
    margin-bottom: 1rem
    font-weight: 500


  .progress-bar
    background-color: #2F4ED9
    height: 4px
    width: 100%
    display: block
</style>
